<div class="row">
    <div class="col-10 mx-auto">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 mt-1 font-weight-normal">
                    Royal <i class="fas fa-angle-double-up text-success"></i> CRM
                </h1>
                <p>Login with your account</p>
            </div>

            <div class="form-group mb-4">
                <input #ef="ngModel" [(ngModel)]="form.email" name="email" required email [ngClass]="{ 'is-invalid': ef.errors && ef.touched }" type="email" placeholder="john@doe.com" id="email" class="form-control" autocomplete="username" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" />
                <div class="invalid-feedback">Valid email is required</div>
            </div>
            <div class="form-group mb-4">
                <input #pf="ngModel" [(ngModel)]="form.password" name="password" required [ngClass]="{ 'is-invalid': pf.errors && pf.touched }" type="password" placeholder="Enter your password" id="password" class="form-control" autocomplete="current-password" />
                <div class="invalid-feedback">Valid password is required</div>
            </div>

            <button [disabled]="loginForm.form.invalid" class="tbn btn-lg btn-primary btn-block">
                Login
            </button>

            <button appLoginGoogle class="tbn btn-lg btn-primary btn-block">
                Login with Google
            </button>


            <!--  TODO: add sign up btn redirects to sign up component with similar form that signs up user onSubmit -->

            <p class="mt-5 mb-3 text-muted text-center">&copy; 2020-2021</p>
        </form>
    </div>
</div>